<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css" />

</head>
<body>
    <div class="text-center">
        <h1 class="bg-red-800 text-5xl"><%= message %></h1>
    </div>

</body>
</html>
